// app global css in SCSS form
@import "quasar.variables";

$globalColor: #383838;
$descColor: #7e8081;
$focusColor: #4c4d4e;
$subColor: #b1b2b3;
$separateColor: #e3e4e5;
$globalBgColor: #f6f7f8;
$areaBgColor: #f6f7f8;
$cardBgColor: #fff;

$descColor_disabled: #E9E9E9;
$descColor_hl: #777777;
$lowShadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
$highShadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
$askLightColor_hover: rgba(255, 255, 255, 0.02);

$globalBorderRadius: 4px;
$minBorderRadius: 2px;
$cardBorderRadius: 8px;

$mediumFontWeight: 500;

body {
  color: #353535;
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;

  &.body--light {
    background: $globalBgColor;
    color: $globalColor;

    .q-header {
      background: $cardBgColor;
      color: #383838;
      height: 56px;
      display: flex;
    }

    .q-layout__shadow:after {
      box-shadow: $lowShadow;
    }

    .q-drawer {
      background: $globalBgColor;
      top: 80px !important;
      bottom: 24px;
    }

    .q-card {
      box-shadow: $lowShadow;
      border-radius: $cardBorderRadius;
    }

    .desktop-panel {
      margin-bottom: 24px;
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 2%);
      padding: 24px 40px;
      background-color: $cardBgColor;
      border-radius: var($cardBorderRadius);
    }

    .light-btn {
      background-color: rgba($primary, .1);
      color: $primary;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 400;
    }

    .desktop-panel_overview {
      padding-bottom: 0;
    }
  }

  &.body--dark {

  }
}

a {
  text-decoration: none;
  color: $secondary;
}

.panel-form {
  &-item {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;

    &-label {
      width: 100px;
      color: #353535;
      line-height: 1.6;
      margin-right: 16px;
    }

    &-value {
      flex: 1;
      line-height: 1.6;
      overflow: auto;

      &-tip {
        color: #9a9a9a;
        padding-top: 4px;
        padding-bottom: 6px;
      }
    }
  }
}

.edit-form {
  &-item {
    display: flex;
    font-size: 14px;

    &-label {
      width: 100px;
      font-weight: bold;
      line-height: 2.4;
      margin-right: 16px;
    }

    &-value {
      flex: 1;
      line-height: 2;

      &-tip {
        color: #9a9a9a;
        padding-top: 8px;
      }
    }
  }
}

.card-clickable {
  cursor: pointer;

  &:hover {
    background-color: $green-2;
    box-shadow: $highShadow !important;
  }
}

.q-field__bottom--animated {
  transform: translateY(0%);
  position: relative;

  .q-field__messages {
    line-height: 1.5;
  }
}

.q-btn--unelevated {
  padding: 0 24px;
}

.q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
  height: 34px;
}

.q-item {
  line-height: 20px;
  font-size: 18px;
  color: #353535;
  padding: 18px 0 18px 24px;

  .q-item__section--avatar {
    min-width: 20px;
  }

  .q-item__section--side {
    padding: 0 14px;

    .q-icon {
      font-size: 26px;
      color: #999;
    }
  }
}

.q-item--active {
  .q-icon {
    color: $primary !important;
  }
}

.q-expansion-item__content {
  .q-item {
    margin-left: 82px;
    font-size: 14px;
    padding: 10px 8px !important;
    font-weight: normal;
    line-height: 15px;
    min-height: 40px;
  }
}

.menu-separator {
  background-color: #e7e7eb;
  margin: 0 14px 0 78px;
}

.drawer-right-bordered {
  border-right: 1px solid #e7e7eb;
}
